@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
    <MudAppBar Color="Color.Info" Fixed="true" Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Size="Size.Medium" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h6" Class="mb-1"><span class="title">University Online Store</span></MudText>
        <MudSpacer />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1" Variant="@DrawerVariant.Responsive" Class="d-flex flex-column">
        <MudCard Elevation="0" Class="ma-0 pa-0">
            <MudText Typo="Typo.h6" Class="px-4 mt-1">User</MudText>
            <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">System Management</MudText>
            <MudDivider Class="my-2" />
            <MudCardContent Class="pa-0 ma-0">
                <NavMenu />
            </MudCardContent>
        </MudCard>
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="py-5">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}

