.heading[b-clcai6gvi0] {
    font-size: 30px;
    font-weight: 600;
}

.no-items-heading[b-clcai6gvi0] {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 600;
}

.mud-table-head .header-centered th[b-clcai6gvi0] {
    text-align: center;
    font-size: 1.2em;
}
