/* _content/OnlineEcommerce.Server/Pages(Users)/Store/Store.razor.rz.scp.css */
.heading[b-iipremtnc2] {
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
}



@media screen and (max-width: 400px) {
    *[b-iipremtnc2]{
        font-size: 12px;
    }

    .heading[b-iipremtnc2] {
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;
    }
}
/* _content/OnlineEcommerce.Server/Pages/Product/EditProduct.razor.rz.scp.css */
.heading[b-jjwpfv3lao] {
    font-size: 30px;
    font-weight: 600;
}

th[b-jjwpfv3lao], td[b-jjwpfv3lao] {
    padding: 15px;
}

.custom-input[b-jjwpfv3lao] {
    margin: 0;
    background: white;
    padding: 5px;
    width: 6em;
    border: 1.5px solid lightgrey;
    border-radius: 5px;
}

.stock-input:hover[b-jjwpfv3lao] {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 15px -17px;
}

.custum-file-upload[b-jjwpfv3lao] {
  height: 180px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon[b-jjwpfv3lao] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg[b-jjwpfv3lao] {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text[b-jjwpfv3lao] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span[b-jjwpfv3lao] {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input[b-jjwpfv3lao] {
  display: none;
}
/* _content/OnlineEcommerce.Server/Pages/Product/ManageProduct.razor.rz.scp.css */
.heading[b-clcai6gvi0] {
    font-size: 30px;
    font-weight: 600;
}

.no-items-text[b-clcai6gvi0] {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: #8f8f8fff;
}

.mud-table-head .header-centered th[b-clcai6gvi0] {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 5px;
}
/* _content/OnlineEcommerce.Server/Shared/Components/Loading.razor.rz.scp.css */
.svgbox[b-kjmtzb858a] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --blue: rgb(148, 66, 63);
    stroke: var(--blue);
    stroke-width: 5;
    fill: none;
    stroke-dasharray: 50, 14;
    stroke-dashoffset: 192;
    animation: dash_682-b-kjmtzb858a 1.4s linear infinite;
}

@keyframes dash_682-b-kjmtzb858a {
    72.5% {
        opacity: 1;
    }

    to {
        stroke-dashoffset: 1;
    }
}
/* _content/OnlineEcommerce.Server/Shared/Users/UserLayout.razor.rz.scp.css */
@media screen and (max-width: 400px) {
    .title[b-py07i5l361]{
        font-size: 16px;
        font-weight: 500;
    }
}
