.heading {
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
}



@media screen and (max-width: 400px) {
    *{
        font-size: 12px;
    }

    .heading {
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;
    }
}
